.FrontPage {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: white;
  align-items: center;
  background: #ece9e9;
  h1 {
    width: 100vw;
    height: 30vh;

    display: flex;
    justify-content: center;
    font-size: 10vmin;
    color: #ffffff;
    background: #ece9e9;
    text-shadow: 3px 5px 2px #474747;
  }
}
