.ResultsModal {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(
    255,
    255,
    255,
    0.5
  ); /* Adjust the alpha value for transparency */
  backdrop-filter: blur(10px); /* Adjust the blur radius as needed */
  .form{
    animation: fadeInUp 1s;
    position: absolute;
    top:30%;
    left:30vw;
    background-color: white;
    width: 40vw;
    height: 40vw;
    border-radius: 6px;
    border:solid 1px rgb(90, 151, 290);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    #signUpPrompt{
      display: flex;
      justify-content: center;
    }
    #signUpPrompt:hover{
      cursor: pointer;
      color:rgb(90, 151, 290);
    }
    p{
      width:100%;
      justify-self: flex-start;
      justify-self: center;
      padding-left: 10px;
    }
    h2{
      justify-self: center;
      font-size: 20px;
      color: rgb(90, 151, 290);
      width: 100%;
      padding-left:10px;
      
    }
    input{
      justify-self: center;
      border:1px solid black;
      
    }
    label{
      width: 45%;
      margin:5px;
      font-weight: bold;
    }

  }
  .modal {
    border-radius: 6px;
    width: 70vw;
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    animation: fadeInUp 1s;
    p {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 70vw;
      padding-left: 10px;
      padding-top: 10px;
    }
    p:hover {
      cursor: pointer;
    }
    h1 {
      width: 70vw;
      height: 5vh;
      margin: 10px;
      color: rgb(90, 151, 290);
      font-size: 25px;
      display: flex;
      align-items: center;
      padding-left: 30px;
    }
    .foundFlightsDisplay {
      border-top: solid 1px rgb(90, 151, 290);
      width: 70vw;
      overflow-y: scroll;
      .flightsResults {
        border: solid 1px rgb(90, 151, 290);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
          rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        margin: 10px;
        width: 60vw;
        height: 15vh;
        margin-left: 4.5vw;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 6px;
        h4 {
          height: 100%;
          width: 19%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
        #seats {
          font-size: 12px;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          #seatsDis {
          }
        }
      }
      .noFlights {
        display: flex;
        justify-content: center;
        height: 90vh;
        align-items: center;
        color: rgb(90, 151, 290);
        font-size: 25px;
      }
    }
  }
}
@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
    opacity: 0.5;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
